:host{
    display: flex;
    flex-direction:column;
    height: 100%;
}
.mat-drawer-opened{
    width: 350px;
}
mat-drawer{
    min-width: 76px !important;
    min-height: 100% !important;
    transform: translate3d(0, 0, 0) !important;
    visibility:visible !important;
}

mat-drawer-container{
    height: 100%;
}
.mat-drawer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .mat-icon {
    margin: 0 5px;
  }

  .mat-drawer-transition .mat-drawer{
    /* custom animation to grow and shrink width */
    -webkit-transition: width .3s !important; /* For Safari 3.1 to 6.0 */
    transition: width .3s !important;
  }
  .mat-drawer-content {
    display: flex;
    margin-left: 77px;
  }